body {
    background-color: #333333ad;
    background-image: url(bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

*{
    border-radius: 40px;
    gap: 2px;;
}

button {
    padding: 10px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-color: #;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.calcbody {
    display: flex;
    width: 550px;
    height: 800px;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(#3c656f93, #6d9eaa2d);
    /* #3c656f70; */ 
    border: 5px #3b1a2b52 solid;
    justify-content: center;
    align-items: center;
}

.screen {
    display: flex;
    width: 490px;
    height: 100px;
    border: 1px #33333375 solid;
    align-items: center;
    text-align: end;
    background-image: linear-gradient(to right, #ffffff29, #ffffff12);
    margin-bottom: 70px;
}

.screen p {
    color: whitesmoke;
    font-size: 40px;
    padding-right: 40px;
    flex: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.numbers div,
.operators div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 30px;
    gap: 1px;
    border: 1px #33333375 solid;
    font-size: 60px;
    background-color: #ffffff0c;
    margin: 2px;
}

.numbers{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.operators {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#plusminus,
#period {
    font-size: 30px;
}
